.bookshelf {
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 5px #333;
  height: auto;
  max-width: 50%;
}

header {
  border: 5px outset hsl(260, 75%, 65%);
  background-color: darkslateblue;
  display: block;
  margin-bottom: 1em;
  color: white;
}

h2 {
  width: 100%
}

.books {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  margin: 1em;
}