.bookshelf {
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 5px #333;
  margin: auto;
}

header {
  border: 5px outset hsl(260, 75%, 65%);
  display: block;
  margin-bottom: 1em;
}

h2 {
  width: 100%
}

.books {
  display: flex;
  flex-direction: row;
}