.book {
  border: 1px solid #000;
  font-size: .75em;
  padding: .5em;
  margin: 0.5em auto;
  box-shadow: 5px 5px 3px #333;
  background-color: hsl(40, 30%, 75%);
  display: flex;
  flex-flow: row wrap;
  max-height: 10em;
}

.book-title {
  font-family: 'Times', serif;
  font-size: 2em;
}

.book-author {
  font-family: 'Times', serif;
  font-size: 1.5em;
  margin-bottom: 0.25em;
}

.book-remove {
  bottom: 0;
}

.selected {
  background: #fff
}